In [3]:
import pandas as pd
import re
import numpy as np

In [ ]:
df = pd.read_csv('/Users/Maria/Desktop/test3.csv', sep=';', index_col = 0)

In [ ]:
df.head()
#print(len(df))

In [4]:
df_g = pd.DataFrame(df.groupby('Category_1', as_index = False).count())

In [5]:
df.loc[df['Category_1']=='Feet']

,Title,Number_of_Views,Rating,Category_1,Category_2,Category_3,Website,Unnamed: 8
index,,,,,,,,
48112,Nyli Says Happy Canada Day,261090,73.0,Feet,NaN,NaN,Pornhub,NaN
171184,Intimate Sex Between Two College Students,6130000,81.0,Feet,NaN,NaN,Pornhub,NaN
180603,Me and My 2 Angels 2 - Scene 4,216130,72.0,Feet,NaN,NaN,Pornhub,NaN

In [6]:
df_g.drop(columns = ['Number_of_Views', 'Rating', 'Category_2', 'Category_3','Website', 'Unnamed: 8'], inplace = True)

In [7]:
df_g.columns = ['Category', 'Count1']

df_g.head()
df_g['Count1'].sum()

342398

In [8]:
df_g2 = pd.DataFrame(df.groupby('Category_2', as_index = False).count())

In [9]:
df_g2.drop(columns = ['Number_of_Views', 'Rating', 'Category_1', 'Category_3','Website', 'Unnamed: 8'], inplace = True)

In [10]:
df_g2.columns = ['Category', 'Count2']
df_g2.head()

            Category  Count2
0              60fps     127
1                 69       2
2            Amateur   17526
3               Anal    8601
4  Anal Masturbation     388

In [32]:
df_g3 = pd.DataFrame(df.groupby('Category_3', as_index = False).count())

In [33]:
df_g3.drop(columns = ['Number_of_Views', 'Rating', 'Category_1', 'Category_2','Website', 'Unnamed: 8'], inplace = True)

In [34]:
df_g3.columns = ['Category', 'Count3']

In [35]:
df_final_count0 = df_g.merge(df_g2, on='Category', how ='outer')

In [36]:
df_final = df_final_count0.merge(df_g3, on = 'Category', how ='outer')

In [29]:
df_final.head()

  Category   Count1   Count2  Count3
0       3D     40.0      NaN     NaN
1    60fps     97.0    127.0    91.0
2       69    498.0      2.0     1.0
3  Amateur  47470.0  17526.0  7528.0
4     Anal  12464.0   8601.0  6292.0

In [28]:
df_final['Count1'].sum()

342398.0

In [37]:
df_final.fillna(0, inplace = True)

In [38]:
df_final['Count_Total'] = df_final['Count1'] +  df_final['Count2'] +  df_final['Count3']

In [39]:
df_final

        Category   Count1   Count2  Count3  Count_Total
0             3D     40.0      0.0     0.0         40.0
1          60fps     97.0    127.0    91.0        315.0
2             69    498.0      2.0     1.0        501.0
3        Amateur  47470.0  17526.0  7528.0      72524.0
4           Anal  12464.0   8601.0  6292.0      27357.0
..           ...      ...      ...     ...          ...
236     Homemade      0.0      0.0     1.0          1.0
237     Oriental      0.0      0.0     5.0          5.0
238       Police      0.0      0.0     2.0          2.0
239      Trimmed      0.0      0.0     3.0          3.0
240  Young & Old      0.0      0.0     1.0          1.0

[241 rows x 5 columns]

In [41]:
df_final.to_csv('category_grouped.csv')

In [1]:
df_V = pd.DataFrame(df.groupby('Category_1', as_index = False).sum())

NameError: name 'pd' is not defined

In [2]:
df_V.columns = ['Category', 'Total_views', 'Sum_ratings']
df_V.columns

NameError: name 'df_V' is not defined

In [ ]:
df_final = df_final.merge(df_V, on = 'Category', how ='outer')

In [ ]:
df_final.head()

In [ ]:
df_final.drop(columns = ['Count1', 'Count2', 'Count3'], inplace = True)

In [ ]:
df_final.head()

In [ ]:
df_final.to_csv('category_grouped2.csv')