# Data Cleaning Pornhub

*In this document you will find the process of data cleaning of Pornhub database of movies.*

1st we import pandas and numpy

In [2]:
import pandas as pd
import numpy as np

In [3]:
ph = pd.read_csv('/Users/Maria/Desktop/tumbzilla_labels.csv', index_col = 0)
ph.columns

Index(['img_source', 'length', 'nb_views', 'quality', 'title', 'video_link',
       'voting', 'categories', 'tags'],
      dtype='object')

We decided to drop 2 columns since we will not use that information, the columns are: img_source and video_link.

In [4]:
ph.drop(['img_source', 'video_link','tags', 'length', 'quality' ], axis = 1, inplace=True)

In [5]:
ph.columns

Index(['nb_views', 'title', 'voting', 'categories'], dtype='object')

In [6]:
ph.dtypes

nb_views      float64
title          object
voting        float64
categories     object
dtype: object

In [7]:
def cast_to_list(categories):
    if pd.isnull(categories):
        return categories
    return [item.strip() for item in categories.split("__")]

ph['categories']= ph['categories'].apply(cast_to_list)

In [8]:
ph.head()

,nb_views,title,voting,categories
0,127450.0,Tease then suck,84.0,[Blowjob]
1,480620.0,Two hot chick on one dick,79.0,[Threesome]
2,99720.0,Chick stretches her pussy and blows for the cam,77.0,[Brunette]
3,598820.0,Fucking my neighbour,80.0,"[Blonde, MILF]"
4,155850.0,Small titted whore sucking a cock for lunch,79.0,[POV]

In [9]:
categories = ph['categories'].apply(pd.Series)

In [10]:
categories.drop(columns = [3,4,5,6,7,8,9,10,11], inplace = True)

In [11]:
categories.rename(columns = {0:'Category_1', 1:'Category_2', 2:'Category_3'}, inplace = True)

In [12]:
ph_merged = ph.merge(right = categories, left_index = True, right_index=True)

In [13]:
ph_merged['Website'] = "Pornhub"
ph_merged.head(2)

,nb_views,title,voting,categories,Category_1,Category_2,Category_3,Website
0,127450.0,Tease then suck,84.0,[Blowjob],Blowjob,NaN,NaN,Pornhub
1,480620.0,Two hot chick on one dick,79.0,[Threesome],Threesome,NaN,NaN,Pornhub

In [14]:
ph_merged.astype({'nb_views': 'int32'}).dtypes

nb_views        int32
title          object
voting        float64
categories     object
Category_1     object
Category_2     object
Category_3     object
Website        object
dtype: object

In [15]:
ph_merged.columns

Index(['nb_views', 'title', 'voting', 'categories', 'Category_1', 'Category_2',
       'Category_3', 'Website'],
      dtype='object')

In [16]:
ph_merged.drop(columns = 'categories')

,nb_views,title,voting,Category_1,Category_2,Category_3,Website
0,127450.0,Tease then suck,84.0,Blowjob,NaN,NaN,Pornhub
1,480620.0,Two hot chick on one dick,79.0,Threesome,NaN,NaN,Pornhub
2,99720.0,Chick stretches her pussy and blows for the cam,77.0,Brunette,NaN,NaN,Pornhub
3,598820.0,Fucking my neighbour,80.0,Blonde,MILF,NaN,Pornhub
4,155850.0,Small titted whore sucking a cock for lunch,79.0,POV,NaN,NaN,Pornhub
...,...,...,...,...,...,...,...
191527,257540.0,Czech taxi 39,75.0,Public,Double Penetration,Czech,Pornhub
191528,73960.0,Casanova Holmes - Quality Vintage 1970s XXX,70.0,For Women,Vintage,Big Dick,Pornhub
191529,419960.0,19 Year Old Blonde Fuck in a threesome,74.0,Babe,Exclusive,Verified Amateurs,Pornhub
191530,216150.0,Virtual Sex - Anya Ivy,72.0,Big Tits,POV,Fetish,Pornhub
191531,201700.0,Brazzers - Ebony teen Peyton Sweet loves white...,74.0,Big Ass,HD,Hardcore,Pornhub

In [17]:
ph_merged.rename(columns = {'nb_views':'Number_of_Views','title':'Title','voting':'Rating'}, inplace = True)

In [18]:
ph_merged = ph_merged[['Title', 'Number_of_Views', 'Rating', 'Category_1', 'Category_2', 'Category_3', 'Website']]

In [19]:
ph_merged.head(3)

,Title,Number_of_Views,Rating,Category_1,Category_2,Category_3,Website
0,Tease then suck,127450.0,84.0,Blowjob,NaN,NaN,Pornhub
1,Two hot chick on one dick,480620.0,79.0,Threesome,NaN,NaN,Pornhub
2,Chick stretches her pussy and blows for the cam,99720.0,77.0,Brunette,NaN,NaN,Pornhub

In [20]:
from sqlalchemy import create_engine
driver = 'mysql+pymysql'
ip = '35.204.21.134'
username = 'root'
password = 'Ironhack10'
db = 'porn_analysis'
connection_string  = f'{driver}://{username}:{password}@{ip}/{db}'
engine = create_engine(connection_string)

In [21]:
ph_merged.to_sql(name = 'main', con = connection_string)

In [74]:
k = pd.read_csv('/Users/Maria/Desktop/Ironhack/Programs/Redtube_table.csv')

In [76]:
k.rename(columns = {'Numbe_of_Views':'Number_of_Views'})

,Unnamed: 0,Title,Number_of_Views,Rating,Category_1,Category_2,Category_3,Website
0,0,Glamour girl pleasuring herself,215864,88.1962,Amateur,Blonde,Caucasian,Redtube
1,1,Sexy artist seducing and bodypainting,107805,87.3641,Brunette,Glamour,Latin,Redtube
2,2,Sexy teen webcam striptease,627376,88.1806,Amateur,Black-haired,Latin,Redtube
3,3,Sweet girl deepthroating,152832,90.7239,Bikini,Blowjob,Caucasian,Redtube
4,4,Cybersex mistake,117170,88.1584,Caucasian,Couple,Funny,Redtube
...,...,...,...,...,...,...,...,...
51896,51896,Asian cheating and cum swallowing with a whit,1345,0.0000,Couple,None,None,Redtube
51897,51897,CFNM sex education,645043,73.8308,Big Tits,Black-haired,Blonde,Redtube
51898,51898,Quelle Famille Bordel,148530,87.8407,Blonde,Blowjob,Brunette,Redtube
51899,51899,Hot redhead gf 1st time anal 5 star,3182,80.0000,Amateur,Redhead,Webcam,Redtube
51900,51900,Short brown hair cute gay sex video The,558,100.0000,Gay,Gay Couple,Hairy,Redtube

In [ ]:
k